*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #181818;
}
.header-container{
  height: 55px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding-inline: 1rem;
}
.header-left{
  background-color: rgb(126, 229, 229);
  width: 150px;
}
.header-center{
  background-color: rgb(217, 94, 141);
  flex: 1;
  margin-inline: 30px;
  max-width: 500px;
}
.header-right{
  background-color: rgb(228, 228, 70);
  width: 200px;
}








.video-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px,1fr));
  gap:15px;
}
.video-container{
  display: flex;
  justify-content: center;
}
.video-preview{
  margin:20px;
  padding:10px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.video-preview:hover{
  background-color: rgb(83, 80, 80);
  border-radius: 12px;
  transition: ease-in-out 0.3s;
}
.video-thumbnail{
  margin-block-end: 8px;
}
.thumbnail-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}
#thumbnail-image{
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.video-link{
  text-decoration: none;
}
.video-details{
  display: flex;
  flex-direction: row;
  column-gap: 12px;  /*adjust this*/
}
.channel-profile{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#channel-profile-image{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-section{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-width: 0;
}
/* .detail-section-title{
     might need later for the menu button
} */
.video-title{
  line-height: 22px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  font-size: 17px;
}
.detail-section-channel{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}
.channel-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.detail-span, .detail-span > a{
  color:rgb(184, 182, 182);
}
.detail-span > a:hover{
  color: white;
}
.video-view-stats{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}