/* general css */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #0f0f0f;
  padding-block-start: 45px;
  padding-inline-start: 66px;
}

/* navbar css starts here */
/* header container */
.header-container{
  height: 55px;
  background-color: rgba(15,15,15,0.7);
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:100;
  border-block-end: 1px solid rgb(30, 30, 30);
}
/* left part of header */
.header-left{
  height: 100%;
  padding-inline-end: 10px;
}
.header-left-content{
  display: flex;
  height: 100%;
  align-items: center;
}
.header-hamburger{
  border-radius: 50%;
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header-hamburger:hover{
  border-radius: 50%;
  transition: ease-in-out 0.1s;
  background-color: rgba(100, 100, 100, 0.3);
}
/* logo of header */
.header-logo{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-logo > a{
  text-decoration: none;
}
.header-logo:hover .header-logo-tooltip{
  opacity: 1;
  transition:step-end 0.7s;
}
.youtube-logo{
  width: 94px;
  object-fit: cover;
  margin-inline-start: 16px;
}
/* logo tooltip */
.header-logo-tooltip{
  position: absolute;
  background-color: rgb(33, 31, 31);
  font-size: 12px;
  padding: 4px 8px;
  color: rgb(184, 182, 182);
  border: 2px solid rgb(187, 185, 185);
  bottom:-30px;
  right:-40px;
  opacity: 0;
  pointer-events: none;
}
/* middle part of header */
.header-center{
  flex: 1;
  display: flex;
  align-items: center;
  flex: 0 1 739px;
  min-width: 0;
}
.search-bar{
  display: flex;
  width: 100%;
  align-items: center;
  margin-inline-start: 40px;
  padding: 0 4px;
}
.search-input-container{
  border-radius: 40px 0 0 40px;
  background-color: #181818;
  display: flex;
  flex:1;
  height: 40px;
  padding: 0 4px 0 16px;
  margin-inline-start: 32px;
  cursor: text;
  justify-content: center;
  border: 1px solid rgb(48,48,48);
  align-items: center;
}
#search-bar-input{
  width: 100%;
  border: none;
  padding-block: 1px;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
}
/* to block the search inputs close button's space */
#search-bar-input::-webkit-search-cancel-button {
  display: none;
}
#search-bar-input::not(:placeholder-shown)::-webkit-search-cancel-button {
  display: block;
}
.search-input-container:focus-within{
    border: 1px solid rgb(45, 131, 211); 
}
.search-button{
  position: relative;
}
.search-button:hover .search-button-tooltip{
  opacity: 1;
  transition:step-end 0.7s;
}
/* search button tooltip */
.search-button-tooltip{
  position: absolute;
  background-color: rgb(33, 31, 31);
  font-size: 12px;
  padding: 4px 8px;
  color: rgb(184, 182, 182);
  border: 2px solid rgb(187, 185, 185);
  bottom:-20px;
  right:-30px;
  opacity: 0;
  pointer-events: none;
}
.header-buttons{
  background-color: hsla(0,0%,100%,.08);
  border: none;
  height: 40px;
  cursor: pointer;
}
.responsive-search-button{
  background-color: transparent;
  border-radius: 50%;
  display: none;
  position: relative;
}
.responsive-search-button:hover{
  background-color: rgba(100, 100, 100, 0.4);
}
.responsive-search-button:hover .responsive-search-button-tooltip{
  opacity: 1;
  transition: 0.2s;
}
#responsive-search-button{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.responsive-search-button-tooltip{
  position: absolute;
  background-color: rgba(95, 95, 95,0.8);
  border-radius: 4px;
  padding: 10px 8px;
  color:rgb(240, 240, 240);
  white-space: nowrap;
  font-size: 12px;
  bottom:-50px;
  border:none;
  pointer-events: none;
  opacity: 0;
}
#responsive-search-button > svg{
  width: 70%;
  height: 70%;
}

#text-search-button{
  width: 65px;
  border-radius: 0 40px 40px 0;
  border: 1px solid rgb(48,48,48);
  display: flex;
  border-left: 0;
  justify-content: center;
  align-items: center;
}
#text-search-button > svg{
  width: 70%;
  height: 70%;
}
.search-voice{
  margin-inline-start: 12px;
  position: relative;
  display: flex;
  justify-content: center;
}
#sound-search-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sound-search-button:hover{
  background-color: rgba(100, 100, 100,0.3);
  transition: 0.1s;
}
/* voice search and notification tooltip */
.search-voice-tooltip, .header-notification-tooltip{
  position: absolute;
  background-color: rgba(95, 95, 95,0.8);
  border-radius: 4px;
  padding: 10px 8px;
  color:rgb(240, 240, 240);
  white-space: nowrap;
  font-size: 12px;
  bottom:-50px;
  pointer-events: none;
  opacity: 0;
}
.search-voice:hover .search-voice-tooltip, .header-notification:hover .header-notification-tooltip{
  opacity: 1;
  transition: 0.2s;
}
/* right part of the header */
.header-right{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 220px;
}
.header-right-create{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;
  border-radius: 20px;
  font-size: 14px;
  padding-block: 5px;
  padding-inline: 10px 15px;
  margin-inline-end: 8px;
}
.header-right-create:hover{
  background-color: rgba(100, 100, 100, 0.3);
  transition: 0.1s;
}
.header-notification{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-inline-end: 8px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.notification-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-notification:hover{
  background-color: rgba(100, 100, 100, 0.3);
  transition: 0.1s;
  .notification-icon-pings{
    background-color: rgb(231, 46, 46);
  }
}
.notification-icon-pings{
  position: absolute;
  top:-4px;
  right:-7px;
  background-color: rgb(200, 0, 0);
  padding: 0 4px;
  display: flex;
  border: 2px solid rgb(59, 9, 9);
  align-items: center;
  border-radius: 10px;
}
.notification-icon-pings > span{
  font-size: 14px;
}
.user-channel-icon{
  margin-inline: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-channel-img{
  background-color: rgb(15, 151, 151);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
/* media queries for header */
@media screen and (max-width:428px){
  .header-notification{
    display: none;
  }
  .search-voice{
    display: none;
  }
}
@media screen and (max-width: 656px){
  .header-center{
    justify-content: flex-end;
    flex:1;
    flex-basis: 0.000000001px;
  }
  .search-bar{
    display: none;
    margin:0;
  }
  .responsive-search-button{
    display: block;
  }
  .search-voice{
    margin: 0;
  }
  #sound-search-button{
    background-color: transparent;
  }
  .header-right{
    min-width: 0;
    flex: none;
  }
  .user-channel-icon{
    margin: 5px;
  }
  .header-notification{
    margin-inline: 0 12px;
  }
  .header-right-create{
    margin-inline-end: 0;
  }
}
/* header close */

/* sidebar start */
.sidebar-container{
  background-color: #0f0f0f;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  padding:0 4px;
  display: flex;
  align-items: start;
  z-index: 99;
  justify-content: center;
}
.sidebar{
  display: flex;
  margin-block-start: 4px;
  flex-direction: column;
}
.sidebar-icons{
  padding: 16px 0 14px;
  display: flex;
  width: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.sidebar-icons:hover .sidebar-icon-tooltip{
  opacity: 1;
  transition: step-end 0.7s;
}
/* sidebar icon tooltips */
.sidebar-icon-tooltip{
  position: absolute;
  background-color: rgb(33, 31, 31);
  font-size: 12px;
  padding: 4px 8px;
  color: rgb(184, 182, 182);
  border: 2px solid rgb(187, 185, 185);
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
}
.tooltip-home{
  bottom:5px;
  right: -40px;
}
.tooltip-shorts{
  bottom: 5px;
  right:-43px;
}
.tooltip-subscriptions{
  right:-90px;
  bottom:5px;
}
.tooltip-you{
  bottom:5px;
  right: -25px;
}
.tooltip-history{
  bottom: 5px;
  right: -44px;
}
.sidebar-icons:hover{
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  transition: 0.1s;
}
.sidebar-icon-span > div > svg{
  color:black;
  margin-block-end: 4px;
}
.sidebar-icon-title{
  font-size: 10px;
  font-weight: 500;
}
/* media queries for sidebar */
@media screen and (max-width: 790px){
  .sidebar-container{
    opacity: 0;
  }
  body{
    padding-inline-start: 0;
  }
}
@media screen and (min-width:1310px){
  body{
    padding-inline-start: 230px;
  }
  .sidebar-container{
    width: 240px;
    padding: 12px;
    display: block;
  }
  .sidebar{
    display: block;
    margin:0;
    padding-block-end: 10px;
    border-bottom: 1px solid rgb(63, 63, 63);
  }
  .sidebar-icons{
    min-height: 42px;
    padding: 0 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }
  .sidebar-icon-span > div{
    margin:0;
    margin-inline-end: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-icon-title{
    font-size: 14px;
    font-weight: 400;
  }
  .sidebar-icon-span > div > svg{
    margin:0;
  }
  .tooltip-home{
    bottom: -3px;
    right: 12px;
  }
  .tooltip-shorts{
    bottom: -3px;
    right: 12px;
  }
  .tooltip-subscriptions{
    right: -30px;
    bottom: -3px;
  }
  .tooltip-you{
    bottom:-3px;
    right: 23px;
  }
  .tooltip-history{
    bottom:-3px;
    right:5px;
  }
}

/* sidebar close */

/* main content grid */
.video-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px,1fr));
  gap:15px;
}
/* individual video preview containers */
.video-container{
  display: flex;
  justify-content: center;
}
.video-preview{
  margin:20px;
  padding:10px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.video-preview:hover{
  background-color: rgba(83, 80, 80,0.3);
  border-radius: 12px;
  transition: ease-in 0.4s;
}
/* thumbnail css */
.video-thumbnail{
  margin-block-end: 8px;
  position: relative;
}
.thumbnail-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}
#thumbnail-image{
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.video-link{
  text-decoration: none;
}
.video-length-section{
  position: absolute;
  bottom: 8px;
  right:8px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
  padding: 1px 4px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.video-length-icon{
  display: flex;
  margin-inline-end: 4px;
  align-items: center;
}
.video-length-icon > svg{
  width: 12px;
  height: 12px;
}
.video-length{
  display: flex;
  align-items: center;
}
.video-length > span{
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
/* video details/titles/channel name */
.video-details{
  display: flex;
  column-gap: 12px;
  position: relative;
}
.channel-profile{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#channel-profile-image{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.detail-section{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-width: 0;
}
.detail-section-menu{
  position: absolute;
  top:-6px;
  right:-10px;
  border-radius: 50%;
}
.detail-section-menu:hover{
  background-color: rgba(100, 100, 100, 0.3);
}
.detail-section-menu-icon{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 36px;
  height: 36px;
}
.video-title{
  line-height: 22px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  padding-inline-end: 24px;
  overflow: hidden;
  font-size: 17px;
}
.detail-section-channel{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}
.channel-name{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.detail-span, .detail-span > a{
  color:rgb(184, 182, 182);
}
.detail-span > a:hover{
  color: white;
}
.channel-name-icon path{
  color: rgb(184, 182, 182);
}
.video-view-stats{
  display: flex;
  column-gap: 5px;
  align-items: center;
}
/* main content grid end */